@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.card-container{
  margin: auto;
  width: 780px;
}

.main-img{
  width: 250px;
  padding-top: 20px;
  margin: auto;
  display: block;
}

.card{
	display: inline-block;
	margin:10px;
  border: 2px solid #f5f3f5;
  border-radius: 10px;
  width:235px;
  height:315px;
  overflow:hidden;
  font-family: Montserrat,sans-serif;
  cursor: pointer;
}
.header{
	height:110px;
    display:inline-block;
}
.header-img{
	width:100%;
    height:100%;
    object-fit: cover;
    object-position: top;
    background: #f5f3f5;
}
.body{
	position: relative;
    display:inline-block;
    padding:15px;
}
.logo-img{
	position: absolute;
    top: -50px;
    left: 30px;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    border: 1px solid #e4e4e4;
    background-color: #e4e4e4;
    
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.card .body .title{
	font-size: 16px;
    font-weight: 600;
    margin: 45px 0 15px;
    letter-spacing: 1px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.card .body .text{
	margin-bottom: 7px;
    font-weight: 300;
    word-break: break-word;
    font-size: 12px;
    color: #222c2e;
    line-height: 20px;
}